/* ---------------------------------------
	Email Obfuscator
--------------------------------------- */

	html, body, p, a
	{
		margin: 0;
		padding: 0;
		border: 0;
		vertical-align: baseline;
		background: transparent;
	}
	
	body
	{
		margin: 1.25em;
		font-family: Helvetica, Arial, sans-serif;
	}
	
	p
	{
		display: block;
	}
	
	a
	{
		color: #000;
		font-size: 1.5em;
		font-weight: bold;
		text-decoration: none;
	}
	
	a:hover,
	a:focus
	{
		color: #00C9FF;
	}